<h1>{{title}}</h1>
<p>{{text}}</p>
<nav>
	<ul>
		<li><a href="/contacto">Contacto</a></li>
		<li><a href="/nosotros">Nosotros</a></li>
		<li><a href="/users">{{user}}</a></li>
	</ul>
</nav>
<body>
	<h1><a href="/descarga">Descargar</a>
</h1>
</body>

